@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html {
	scroll-behavior: smooth !important;
	overflow-y: scroll;
}

// Define a mixin for responsive typography
// This mixin adjusts the font size responsively between a minimum and maximum value
// based on the viewport width. It takes four parameters:
// $min-font-size: The minimum font size to be applied.
// $max-font-size: The maximum font size to be applied.
// $min-vw: The minimum viewport width at which the font size starts scaling (default is 320px).
// $max-vw: The maximum viewport width at which the font size stops scaling and reaches the maximum font size (default is 1200px).
@mixin responsive-font($min-font-size, $max-font-size, $min-vw: 320px, $max-vw: 768px) {
	font-size: $min-font-size;

	@media (min-width: $min-vw) {
		font-size: calc(#{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw})));
	}

	@media (min-width: $max-vw) {
		font-size: $max-font-size;
	}
}

html {
	@include responsive-font(0.875rem, 1rem);
}

body {
	font-family: var(--font-helveticanow);
}

::selection {
	color: white;
	background: black;
}

video::-internal-media-controls-download-button {
	display: none;
}
